apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-web
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: laravel-web
  template:
    metadata:
      labels:
        app: laravel-web
    spec:
      initContainers:
        - name: init-copy-app
          image: laravel-app-image:v3
          command: ["sh", "-c"]
          args:
            - |
              set -e
              cp -a /var/www/. /app
              # Ensure Laravel writable dirs are writable by php-fpm user (www-data)
              chown -R www-data:www-data /app/storage /app/bootstrap/cache
              chmod -R 775 /app/storage /app/bootstrap/cache
          volumeMounts:
            - name: app-code
              mountPath: /app

      containers:
        - name: nginx
          image: nginx:1.25-alpine
          ports:
            - name: http
              containerPort: 80
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
            - name: app-code
              mountPath: /var/www
              readOnly: true
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 10
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"

        - name: php-fpm
          image: laravel-app-image:v3
          ports:
            - name: fpm
              containerPort: 9000
          volumeMounts:
            - name: app-code
              mountPath: /var/www
          
          envFrom:
            - configMapRef:
                name: laravel-config
            - secretRef:
                name: db-secret

          readinessProbe:
            tcpSocket:
              port: 9000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 9000
            initialDelaySeconds: 20
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

      volumes:
        - name: nginx-config
          configMap:
            name: laravel-nginx
        - name: app-code
          emptyDir: {}

